$green: #22b573;
$teal: rgba(72, 182, 168, 0.76);
$transitionSpeed: 200ms;
$transparent: rgba(0, 0, 0, 0.5);

* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    background: rgb(245, 245, 245);
}

#todo {
    width: 80%;
    max-width: 580px;
    h1 {
        color: $teal;
        display: flex;
        justify-content: center;
        margin: 4rem 0 1rem 0;
    }
}

#search {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -1px 11px 45px -5px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.07);
    margin-bottom: 4rem;
    #search-bar {
        display: flex;
        width: 100%;
    }
}

label[for=input] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4rem;
    background: #FEFEFE;
    .arrow-down {
        display: none;
    }
    &:hover {
        cursor: pointer;
    }
}

#input {
    height: 4rem;
    width: 100%;
    border: none;
    padding: 0 1.5rem 0 0;
    font-size: 1rem;
    color: $transparent;
    &:focus {
        outline: none;
    }
}

::placeholder {
    color: rgba(0, 0, 0, 0.2);
}

#list {
    width: 100%;
    max-width: 580px;
    list-style: none;
    margin: 0;
    padding: 0;
    .list-item {
        border-top: 1px solid rgba(0, 0, 0, 0.07);
        min-height: 4rem;
        background: #FFFFFF;
        color: $transparent;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        &:hover > .cross {
            display: block;
        }
        #item-check {
            display: flex;
            align-items: center;
            width: 80%;
            margin-left: 1rem;
            span {
                transition: color 0.2s linear;
                width: 100%;
                overflow-wrap: break-word;
                margin-left: 3rem;
                padding-right: 3rem;
            }
            .item-check__box {
                margin: 0 1rem;
                transition: color 2s linear;
                &:checked ~ span {
                    text-decoration: line-through;
                    color: rgba(0, 0, 0, 0.2);
                }
            }
            input[type="checkbox"] + label {
                position: absolute;
                width: 30px;
                height: 30px;
                border: 5px solid $transparent;
                border-radius: 100%;
                transition: all ease-out $transitionSpeed;
                color: $transparent;
                user-select: none;
                &:after {
                    content: "";
                    position: absolute;
                    width: 0px;
                    height: 10px;
                    border-bottom: 5px solid $green;
                    border-left: 5px solid $green;
                    top: 25%;
                    left: 50%;
                    transform-origin: bottom left;
                    transform: rotate(-45deg);
                    opacity: 0;
                    transition: all ease-out $transitionSpeed;
                }
                &:hover {
                    cursor: pointer;
                }
            }
            input[type="checkbox"]:checked + label {
                border: 5px solid $green;
                &:after {
                    opacity: 1;
                    width: 30px;
                }
            }
            .chk {
                display: none;
            }
        }
        .cross {
            margin: 0 1.5rem 0 0;
            display: none;
            transition: all ease-out $transitionSpeed;
            &:hover {
                color: $teal;
            }
        }
    }
}

#footer {
    background: #FFFFFF;
    width: 100%;
    height: 2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    display: none;
    justify-content: space-between;
    align-items: center;
    color: $transparent;
    padding: 0 0.5rem;
    font-size: 0.6rem;
    @media screen and (max-width: 350px) {
        font-size: 0.5rem;
    }
    #footer-counter {
        width: 3rem;
    }
    #footer-buttons {
        span {
            border: 1px solid rgba(0, 0, 0, 0);
            padding: 0.2rem;
            &:hover {
                border: 1px solid rgba(0, 0, 0, 0.07);
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
    #footer-completed {
        #clear {
            border: 1px solid rgba(0, 0, 0, 0);
            padding: 0.2rem;
            visibility: hidden;
            &:hover {
                border: 1px solid rgba(0, 0, 0, 0.07);
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}

.visible {
    display: block !important;
    color: rgba(0, 0, 0, 0.2);
}

.visible-footer {
    display: flex !important;
}

.invisible {
    display: none !important;
}

.border {
    border: 1px solid $transparent !important;
    border-radius: 5px !important;
}

.arrow-color {
    color: $transparent !important;
}

.visible-clear__button {
    visibility: visible !important;
}
