* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: whitesmoke;
}

#todo {
  width: 80%;
  max-width: 580px;
}
#todo h1 {
  color: rgba(72, 182, 168, 0.76);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4rem 0 1rem 0;
}

#search {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: -1px 11px 45px -5px rgba(0, 0, 0, 0.25);
          box-shadow: -1px 11px 45px -5px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.07);
  margin-bottom: 4rem;
}
#search #search-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

label[for=input] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4.5rem;
  height: 4rem;
  background: #FEFEFE;
}
label[for=input] .arrow-down {
  display: none;
}
label[for=input]:hover {
  cursor: pointer;
}

#input {
  height: 4rem;
  width: 100%;
  border: none;
  padding: 0 1.5rem 0 0;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
}
#input:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

#list {
  width: 100%;
  max-width: 580px;
  list-style: none;
  margin: 0;
  padding: 0;
}
#list .list-item {
  border-top: 1px solid rgba(0, 0, 0, 0.07);
  min-height: 4rem;
  background: #FFFFFF;
  color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
#list .list-item:hover > .cross {
  display: block;
}
#list .list-item #item-check {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin-left: 1rem;
}
#list .list-item #item-check span {
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
  width: 100%;
  overflow-wrap: break-word;
  margin-left: 3rem;
  padding-right: 3rem;
}
#list .list-item #item-check .item-check__box {
  margin: 0 1rem;
  -webkit-transition: color 2s linear;
  -o-transition: color 2s linear;
  transition: color 2s linear;
}
#list .list-item #item-check .item-check__box:checked ~ span {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.2);
}
#list .list-item #item-check input[type=checkbox] + label {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 5px solid rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 100%;
          border-radius: 100%;
  -webkit-transition: all ease-out 200ms;
  -o-transition: all ease-out 200ms;
  transition: all ease-out 200ms;
  color: rgba(0, 0, 0, 0.5);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#list .list-item #item-check input[type=checkbox] + label:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 10px;
  border-bottom: 5px solid #22b573;
  border-left: 5px solid #22b573;
  top: 25%;
  left: 50%;
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 0;
  -webkit-transition: all ease-out 200ms;
  -o-transition: all ease-out 200ms;
  transition: all ease-out 200ms;
}
#list .list-item #item-check input[type=checkbox] + label:hover {
  cursor: pointer;
}
#list .list-item #item-check input[type=checkbox]:checked + label {
  border: 5px solid #22b573;
}
#list .list-item #item-check input[type=checkbox]:checked + label:after {
  opacity: 1;
  width: 30px;
}
#list .list-item #item-check .chk {
  display: none;
}
#list .list-item .cross {
  margin: 0 1.5rem 0 0;
  display: none;
  -webkit-transition: all ease-out 200ms;
  -o-transition: all ease-out 200ms;
  transition: all ease-out 200ms;
}
#list .list-item .cross:hover {
  color: rgba(72, 182, 168, 0.76);
  cursor: default;
}

#footer {
  background: #FFFFFF;
  width: 100%;
  height: 2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
  display: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0, 0, 0, 0.5);
  padding: 0 0.5rem;
  font-size: 0.6rem;
}
@media screen and (max-width: 350px) {
  #footer {
    font-size: 0.5rem;
  }
}
#footer #footer-counter {
  width: 3rem;
}
#footer #footer-buttons span {
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 0.2rem;
}
#footer #footer-buttons span:hover {
  border: 1px solid rgba(0, 0, 0, 0.07);
  -webkit-border-radius: 5px;
          border-radius: 5px;
  cursor: pointer;
}
#footer #footer-completed #clear {
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 0.2rem;
  visibility: hidden;
}
#footer #footer-completed #clear:hover {
  border: 1px solid rgba(0, 0, 0, 0.07);
  -webkit-border-radius: 5px;
          border-radius: 5px;
  cursor: pointer;
}

.visible {
  display: block !important;
  color: rgba(0, 0, 0, 0.2);
}

.visible-footer {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.invisible {
  display: none !important;
}

.border {
  border: 1px solid rgba(0, 0, 0, 0.5) !important;
  -webkit-border-radius: 5px !important;
          border-radius: 5px !important;
}

.arrow-color {
  color: rgba(0, 0, 0, 0.5) !important;
}

.visible-clear__button {
  visibility: visible !important;
}

/*# sourceMappingURL=style.css.map */