* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    background: rgb(245, 245, 245);
}

#todo {
    width: 80%;
    max-width: 580px;
    h1 {
        display: flex;
        justify-content: center;
    }
}

#search {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -1px 11px 45px -5px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.07);
    margin-bottom: 4rem;
    #search-bar {
        display: flex;
        width: 100%;
    }
}

label[for=input] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 4rem;
    background: #FEFEFE;
    .arrow-down {
        display: none;
    }
}

#input {
    height: 4rem;
    width: 100%;
    border: none;
    padding: 0 1.5rem 0 0;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
    &:focus {
        outline: none;
    }
}

::placeholder {
    color: rgba(0, 0, 0, 0.2);
}

#list {
    width: 100%;
    height: 1%;
    max-width: 580px;
    list-style: none;
    margin: 0;
    padding: 0;
    .list-item {
        border-top: 1px solid rgba(0, 0, 0, 0.07);
        height: 4rem;
        background: #FFFFFF;
        color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        &:hover > .cross {
            display: block;
        }
        #item-check {
            display: flex;
            align-items: center;
            width: 85%;
            span {
                transition: color 0.2s linear;
                width: 100%;
                overflow-wrap: break-word;
            }
            .item-check__box {
                margin: 0 1rem;
                transition: color 2s linear;
                &:checked + span {
                    text-decoration: line-through;
                    color: rgba(0, 0, 0, 0.2);
                }
            }
        }
        .cross {
            margin: 0 1.5rem 0 0;
            display: none;
        }
    }
}

#footer {
    background: #FFFFFF;
    width: 100%;
    height: 2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    display: none;
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    padding: 0 0.5rem;
    font-size: 0.6rem;
    @media screen and (max-width: 350px) {
        font-size: 0.5rem;
    }
    #footer-buttons {
        span {
            border: 1px solid rgba(0, 0, 0, 0);
            padding: 0.2rem;
            &:hover {
                border: 1px solid rgba(0, 0, 0, 0.07);
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
    #footer-completed {
        #clear {
            border: 1px solid rgba(0, 0, 0, 0);
            padding: 0.2rem;
            visibility: hidden;
            &:hover {
                border: 1px solid rgba(0, 0, 0, 0.07);
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}

.visible {
    display: block !important;
    color: rgba(0, 0, 0, 0.2);
}

.visible-footer {
    display: flex !important;
}

.invisible {
    display: none !important;
}

.border {
    border: 1px solid rgba(0, 0, 0, 0.5) !important;
    border-radius: 5px !important;
}

.arrow-color {
    color: rgba(0, 0, 0, 0.5) !important;
}

.visible-clear__button {
    visibility: visible !important;
}
